<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Gustavo Prado</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;500;700;800;900&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="../public/css/main.css">
    </head>
    
    <body>
        <section class="container-1">
            <header>
                <nav class="nav-header">
                    <h2 class="logo">Portifo<span>lio</span></h2>

                    <ul>
                        <li>Home</li>
                        <li>Sobre</li>
                        <li>Projetos</li>
                        <li>Contato</li>
                    </ul>
                </nav>
            </header>

            <main>
                <section class="meu-nome">
                    <h1>Gustavo <span>Prado</span></h1>

                    <h3>Programador FullStack</h3>
                </section>
            </main>
        </section>

        <section class="container-2">
            <main>
                <figure>
                    <img src="../public/img/PhotoRoom-20230727_145628.png" alt="Gustavo Prado">
                </figure>

                <section>
                    <h2>Sobre mim</h2>
                    <p>
                        Eu sou um Dev FullStack, tenho experiência e conhecimento criando aplicações com Laravel, PHP, HTML, CSS, TailWind e Javascript.
                    </p>
                    <button>
                        Entre em contato
                    </button>
                </section>
            </main>
        </section>
    </body>
</html>