<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Gustavo Prado</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;500&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="../dist/output.css">
    </head>
    
    <body class="w-full h-screen bg-stone-900" style="background-image: url(../public/img/Static\ assets-amico.svg);">
        <header>
            <nav class="flex justify-between items-center px-8">
                <h2 class="text-white text-4xl font-medium">Portifo<span class="text-red-700">lio</span></h2>

                <ul>
                    <li>Home</li>
                    <li>Sobre</li>
                    <li>Projetos</li>
                    <li>Contato</li>
                </ul>
            </nav>
        </header>

        <main>
            <section>
                <h1>Gustavo Prado</h1>

                <h3>Programador FullStack</h3>
            </section>
        </main>
    </body>
</html>