*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'nunito', sans-serif;
}

.container-1 {
    height: 100vh;
    width: 100%;
    background: #191919;
    background-image: url('../img/Design sem nome.png');
    background-size: cover;
    background-position: center;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
}

.logo {
    color: #ffffff;
    font-size: 2.2rem;
    font-weight: 800;
}

.logo span {
    color: #f9004d;
}

.nav-header ul li {
    display: inline-block;
    color: #ffffff;
    list-style: none;
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 30px;
}

.nav-header ul li:hover {
    color: #f9004d;
    transition: 0.5s;
}

.meu-nome{
    position: absolute;
    top: 50%;
    left: 7%;
}

.meu-nome h1 {
    color: #ffffff;
    font-size: 4.7rem;
}

.meu-nome h1 span {
    color: #f9004d;
}

.meu-nome h3 {
    color: #ffffff;
    font-size: 1.5rem;
}

.container-2 main{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    padding: 60px 15%;
    background-color: #000000;
}

.container-2 main figure {
    margin-right: 30px;
}

.container-2 main figure img {
    height: 62vh;
    border-radius: 100%;
    border: 2px solid #f9004d;
}

.container-2 main section h2 {
    color: #ffffff;
    font-size: 4.7rem;   
}

.container-2 main section p {
    color: #ffffff;
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 60px;
}

.container-2 main section button {
    background-color: #f9004d;
    color: #ffffff;
    font-size: 1.1rem;
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 26px;
    cursor: pointer;
}

.container-2 main section button:hover {
    background-color: #000000;
    border: 3px solid #f9004d;
    transition: 0.2s;
}