@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.container-1 {
    height: 100vh;
    width: 100%;
    background: #191919;
    background-image: url('../img/Design sem nome.png');
    background-size: cover;
    background-position: center;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
}

.logo {
    color: #ffffff;
    font-size: 2.2rem;
    font-weight: 700;
}

.logo span {
    color: #f9004d;
}

.nav-header ul li {
    display: inline-block;
    color: #ffffff;
    list-style: none;
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 30px;
}

.nav-header ul li:hover {
    color: #f9004d;
    transition: 0.5s;
}

.meu-nome{
    position: absolute;
    top: 50%;
    left: 7%;
}

.meu-nome h1 {
    color: #ffffff;
    font-size: 4.7rem;
}

.meu-nome h1 span {
    color: #f9004d;
}

.meu-nome h3 {
    color: #ffffff;
    font-size: 1.5rem;
}

.container-2 {
    display: flex;
    align-items: center;
    padding: 60px 15%;
    background-color: #000000;
}

.container-2 figure {
    margin-right: 30px;
}

.container-2 figure img {
    height: 62vh;
    border-radius: 100%;
    border: 2px solid #f9004d;
}

.container-2 section h2 {
    color: #ffffff;
    font-size: 4.7rem;   
}

.container-2 section p {
    color: #ffffff;
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 60px;
}

.container-2 section button {
    background-color: #f9004d;
    color: #ffffff;
    font-size: 1.1rem;
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 26px;
    cursor: pointer;
}

.container-2 section button:hover {
    background-color: #000000;
    border: 3px solid #f9004d;
    transition: 0.2s;
}

.container-3 {
    background-color: #191919;
    padding-top: 50px;
    padding-bottom: 100px;
    width: 100%;
}

.container-3 h2 {
    color: #ffffff;
    font-size: 4.7rem;
    text-align: center;
}

.card {
    background-color: #000000;
    height: 365px;
    width: 335px;
    border-radius: 20px;
    padding: 20px 35px;
    text-align: center;
}

.card figure img {
    height: 10.5vh;
    margin-bottom: 20px;
}

.card h5 {
    color: #ffffff;
    font-size: 1.5rem;
}

.card p {
    color: #e2b9c6;
    margin-top: 20px;
    margin-bottom: 40px;
}

.card a {
    background-color: #f9004d;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
}

.card a:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
}

.card-projeto {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}